@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: "Inter", sans-serif;


  --breakpoint-3xs: 18rem;
  --breakpoint-2xs: 24rem;
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

  --text-2xs: 0.625rem;
  --text-3xs: 0.5rem;
  --text-4xs: 0.375rem;
  --text-md: 1rem;

  --color-amethyst-smoke-50: #f8f8fa;
  --color-amethyst-smoke-100: #f2f2f5;
  --color-amethyst-smoke-200: #e7e6ee;
  --color-amethyst-smoke-300: #d5d3df;
  --color-amethyst-smoke-400: #bdb9cc;
  --color-amethyst-smoke-500: #a8a1bb;
  --color-amethyst-smoke-600: #8e83a4;
  --color-amethyst-smoke-700: #7c7190;
  --color-amethyst-smoke-800: #685e79;
  --color-amethyst-smoke-900: #564e64;
  --color-amethyst-smoke-950: #383342;

  --color-dark-amethyst-smoke-0: #141617;
  --color-dark-amethyst-smoke-50: #1b1e1f;
  --color-dark-amethyst-smoke-100: #1e2122;
  --color-dark-amethyst-smoke-200: #242728;
  --color-dark-amethyst-smoke-300: #2d3133;
  --color-dark-amethyst-smoke-400: #383448;
  --color-dark-amethyst-smoke-500: #453e56;
  --color-dark-amethyst-smoke-600: #554c68;
  --color-dark-amethyst-smoke-700: #625972;
  --color-dark-amethyst-smoke-800: #534b61;
  --color-dark-amethyst-smoke-900: #453e50;
  --color-dark-amethyst-smoke-950: #2d2935;

  --color-text-light: #383342;
  --color-text-dark: #f8f8fa;

  --color-text-light-50: hsla(260, 13%, 23%, 0.5);
  --color-text-dark-50: hsla(240, 20%, 98%, 0.5);
  --color-text-light-70: hsla(260, 13%, 23%, 0.7);
  --color-text-dark-70: hsla(240, 20%, 98%, 0.7);

  --color-mal-blue: #2c51a7;

}

@keyframes imageZoomIn {
  from {
    opacity: 0;
    transform: perspective(1000px) translateZ(-100px) translateX(100px) scale(0.8);
  }

  to {
    opacity: 1;
    transform: perspective(1000px) translateZ(0) scale(1);
  }
}

@keyframes fillBar {
  from {
    opacity: 0;
    width: 0%;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@layer components {
  .gallery-image-animation {
    animation: imageZoomIn 0.4s ease-out;
  }

  .fill-to-right {
    animation: fillBar 2s ease-out;
  }

  .slide-in-from-left {
    animation: slideInFromLeft 0.25s ease;
  }
  .slide-in-from-top {
    animation: slideInFromTop 0.25s ease;
  }
  .spoiler input {
    @apply w-fit rounded-sm px-3 py-1 my-1.5 hover:cursor-pointer duration-200
  }

  .spoiler .show_button {
    @apply text-amethyst-smoke-950/65 dark:text-amethyst-smoke-200/65 border border-amethyst-smoke-950/25 dark:border-amethyst-smoke-200/25 dark:hover:bg-amethyst-smoke-200/10 hover:bg-amethyst-smoke-950/10
  }

  .spoiler .hide_button {
    @apply text-blue-600 dark:text-blue-300 bg-amethyst-smoke-300 dark:bg-dark-amethyst-smoke-300
  }
}

@layer utilities {
  .theme-colors {
    @apply bg-amethyst-smoke-300 text-text-light dark:bg-dark-amethyst-smoke-50 dark:text-text-dark
  }

  .theme-bg-colors {
    @apply bg-amethyst-smoke-300 dark:bg-dark-amethyst-smoke-50
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
    /* color: #141617; */
    /* Chrome, Safari, and Opera */
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .no-scrolling {
    height: 100vh;
    overflow-y: hidden;
  }

  .max-lines-1 {
    --max-lines: 1;
  }

  .max-lines-2 {
    --max-lines: 2;
  }

  .max-lines-3 {
    --max-lines: 3;
  }

  .max-lines-4 {
    --max-lines: 4;
  }

  .max-lines-5 {
    --max-lines: 5;
  }

  .peer:has(:not(:checked))~.cutoff-text {
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;
    overflow-y: hidden;
  }

  .cutoff-text-abs {
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;
    overflow-y: hidden;
  }

  .box-colors {
    @apply bg-amethyst-smoke-400/75 dark:bg-dark-amethyst-smoke-200/75
  }

  .box-colors-lighter {
    @apply bg-amethyst-smoke-400/45 dark:bg-dark-amethyst-smoke-200/45
  }

  .box-colors-medium {
    @apply bg-amethyst-smoke-300/90 dark:bg-dark-amethyst-smoke-200/90
  }

  .box-colors-stronger {
    @apply bg-amethyst-smoke-300 dark:bg-dark-amethyst-smoke-300
  }

  .box-colors-accent {
    @apply dark:bg-amethyst-smoke-500/30 bg-amethyst-smoke-50/30
  }

  .smallHeaderBox-colors {
    @apply bg-amethyst-smoke-300 dark:bg-dark-amethyst-smoke-300
  }
  .link{
    @apply hover:brightness-150
  }
  .rose-link {
    @apply text-rose-700 dark:text-rose-400
  }
  .indigo-link {
    @apply text-indigo-700 dark:text-indigo-400 hover:text-indigo-500 dark:hover:text-indigo-300
  }

  .gray-link {
    @apply text-gray-700 dark:text-gray-400
  }

  .blue-link {
    @apply text-blue-700 dark:text-blue-400 hover:brightness-110
  }

  .hover-blue-link {
    @apply hover:text-blue-700 dark:hover:text-blue-400
  }

  .hover-rose-link {
    @apply hover:text-rose-700 dark:hover:text-rose-400
  }

  .blue-link-b {
    @apply text-blue-700 dark:text-blue-400 border-b border-transparent dark:hover:border-blue-400 hover:border-blue-700
  }

  .bottom-border {
    @apply border-b border-amethyst-smoke-950/40 dark:border-amethyst-smoke-200/40
  }

  .magazine-border-colors {
    @apply border-dark-amethyst-smoke-50/10 dark:border-amethyst-smoke-50/10
  }

  #userContent a {
    @apply w-fit text-blue-700 dark:text-blue-400 border-b border-transparent dark:hover:border-blue-400 hover:border-blue-700
  }

  .recentTab {
    @apply px-3.5 py-1 rounded-md border border-dark-amethyst-smoke-50/10 dark:border-amethyst-smoke-50/10 hover:cursor-pointer hover:bg-amethyst-smoke-700/20 duration-200
  }

  .active-tab {
    @apply border border-blue-700/50 dark:border-blue-300/50 text-blue-700 dark:text-blue-300 bg-amethyst-smoke-200 dark:bg-dark-amethyst-smoke-300
  }

  .layout-icon {
    @apply p-1 box-content hover:cursor-pointer hover:bg-dark-amethyst-smoke-200/30 dark:hover:bg-amethyst-smoke-300/30
  }

  .active-layout-icon {
    @apply stroke-blue-700
  }

  .letter-filter-hover {
    @apply hover:text-blue-700
    /* @apply hover:bg-dark-amethyst-smoke-200/30 dark:hover:bg-amethyst-smoke-300/30 */
  }

  .active-letter-filter {
    @apply rounded-sm bg-blue-700 pointer-events-none
  }

  .target {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
  }

  .wrapper:hover .target {
    opacity: 1;
    visibility: visible;
  }

  .header-box {
    @apply rounded-md flex flex-row items-center justify-between px-2 py-1 hover:brightness-110 duration-200
  }

  .small-header-box {
    @apply rounded-md flex flex-row items-center justify-between px-1.5 py-1 hover:brightness-110 duration-200
  }
}