@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: "Inter", sans-serif;


  --breakpoint-3xs: 18rem;
  --breakpoint-2xs: 24rem;
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

  --text-2xs: 0.625rem;
  --text-3xs: 0.5rem;
  --text-4xs: 0.375rem;
  --text-md: 1rem;

  --color-amethyst-smoke-50: #f8f8fa;
  --color-amethyst-smoke-100: #f2f2f5;
  --color-amethyst-smoke-200: #e7e6ee;
  --color-amethyst-smoke-300: #d5d3df;
  --color-amethyst-smoke-400: #bdb9cc;
  --color-amethyst-smoke-500: #a8a1bb;
  --color-amethyst-smoke-600: #8e83a4;
  --color-amethyst-smoke-700: #7c7190;
  --color-amethyst-smoke-800: #685e79;
  --color-amethyst-smoke-900: #564e64;
  --color-amethyst-smoke-950: #383342;

  --color-dark-amethyst-smoke-0: #141617;
  --color-dark-amethyst-smoke-50: #1b1e1f;
  --color-dark-amethyst-smoke-100: #1e2122;
  --color-dark-amethyst-smoke-200: #242728;
  --color-dark-amethyst-smoke-300: #2d3133;
  --color-dark-amethyst-smoke-400: #383448;
  --color-dark-amethyst-smoke-500: #453e56;
  --color-dark-amethyst-smoke-600: #554c68;
  --color-dark-amethyst-smoke-700: #625972;
  --color-dark-amethyst-smoke-800: #534b61;
  --color-dark-amethyst-smoke-900: #453e50;
  --color-dark-amethyst-smoke-950: #2d2935;

  --color-text-light: #383342;
  --color-text-dark: #f8f8fa;

  --color-mal-blue: #2c51a7;

  --animate-logo-light: textLightAnimation 1.5s ease-in-out infinite forwards;
  --animate-logo-dark: textDarkAnimation 1.5s ease-in-out infinite forwards;

  @keyframes textLightAnimation {
    0% {
      stroke-dashoffset: var(--stroke-dashes);

    }

    80% {
      fill: transparent;
    }

    100% {
      stroke-dashoffset: 0;
      fill: #383342;
    }
  }

  @keyframes textDarkAnimation {
    0% {
      stroke-dashoffset: var(--stroke-dashes);
    }

    80% {
      fill: transparent;
    }

    100% {
      stroke-dashoffset: 0;
      fill: #f8f8fa;
    }
  }
}

@keyframes imageZoomIn {
  from {
    opacity: 0;
    transform: perspective(1000px) translateZ(-100px) translateX(100px) scale(0.8);
  }

  to {
    opacity: 1;
    transform: perspective(1000px) translateZ(0) scale(1);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fillBar {
  from {
    opacity: 0;
    width: 0%;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideInFromTopHalf {
  from {
    transform: translateY(-35%);
  }

  to {
    transform: translateY(0);
  }
}

@layer components {

  /* loader css */
  #AniVault path {
    --stroke-dashes: 710;
    fill: transparent;
    stroke-width: 2;
    stroke-dasharray: var(--stroke-dashes);
    stroke-dashoffset: var(--stroke-dashes);
  }

  .gallery-image-animation {
    animation: imageZoomIn 0.4s ease-out;
    color: #4f39f6;
    color: #4f39f64d;
  }

  .fill-to-right {
    animation: fillBar 2s ease-out;
  }

  .slide-in-from-left {
    animation: slideInFromLeft 0.25s ease;
  }

  .slide-in-from-top {
    animation: slideInFromTop 0.25s ease;
  }

  .slide-in-from-top-half {
    animation: slideInFromTopHalf 0.25s ease;
  }

  .animate-opacity {
    animation: opacity 0.35s ease;
  }

  .spoiler input {
    @apply w-fit rounded-sm px-3 py-1 my-1.5 hover:cursor-pointer duration-200
  }

  .spoiler .show_button {
    @apply text-amethyst-smoke-950/65 dark:text-amethyst-smoke-200/65 border border-amethyst-smoke-950/25 dark:border-amethyst-smoke-200/25 dark:hover:bg-amethyst-smoke-200/10 hover:bg-amethyst-smoke-950/10
  }

  .spoiler .hide_button {
    @apply text-blue-600 dark:text-blue-300 bg-amethyst-smoke-300 dark:bg-dark-amethyst-smoke-300
  }
}

@layer utilities {
  #listTabs.tabs-box {
    @apply bg-transparent;
  }
  #listTabs.tabs-box>.tab {
    @apply text-text-light dark:text-text-dark bg-amethyst-smoke-400/75 dark:bg-dark-amethyst-smoke-200/75 hover:bg-indigo-500/20 duration-200;
  }
  #listTabs.tabs-box>.tab:checked {
    @apply bg-indigo-500 text-text-dark;
  }
  #listTabs.tabs-box .tab-content {
    @apply p-1 bg-amethyst-smoke-400/10 dark:bg-dark-amethyst-smoke-200/10;
  }

  .theme-colors {
    @apply bg-amethyst-smoke-300 text-text-light dark:bg-dark-amethyst-smoke-50 dark:text-text-dark
  }

  .theme-bg-colors {
    @apply bg-amethyst-smoke-300 dark:bg-dark-amethyst-smoke-50
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .no-scrolling {
    height: 100vh;
    overflow-y: hidden;
  }

  .max-lines-1 {
    --max-lines: 1;
  }

  .max-lines-2 {
    --max-lines: 2;
  }

  .max-lines-3 {
    --max-lines: 3;
  }

  .max-lines-4 {
    --max-lines: 4;
  }

  .max-lines-5 {
    --max-lines: 5;
  }

  .peer:has(:not(:checked))~.cutoff-text {
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;
    overflow-y: hidden;
  }

  .cutoff-text-abs {
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;
    overflow-y: hidden;
  }

  .box-colors {
    @apply bg-amethyst-smoke-400/75 dark:bg-dark-amethyst-smoke-200/75
  }

  .box-colors-lighter {
    @apply bg-amethyst-smoke-400/45 dark:bg-dark-amethyst-smoke-200/45
  }

  .box-colors-semi-medium {
    @apply bg-amethyst-smoke-300/80 dark:bg-dark-amethyst-smoke-200/80
  }
  .box-colors-medium {
    @apply bg-amethyst-smoke-300/90 dark:bg-dark-amethyst-smoke-200/90
  }

  .section-colors-medium {
    @apply bg-amethyst-smoke-300/40 dark:bg-dark-amethyst-smoke-200/40
  }

  .box-colors-stronger {
    @apply bg-amethyst-smoke-300 dark:bg-dark-amethyst-smoke-300
  }

  .box-colors-darker {
    @apply bg-amethyst-smoke-400 dark:bg-dark-amethyst-smoke-100
  }

  .box-colors-accent {
    @apply dark:bg-amethyst-smoke-500/30 bg-amethyst-smoke-50/30
  }

  .smallHeaderBox-colors {
    @apply bg-amethyst-smoke-300 dark:bg-dark-amethyst-smoke-300
  }

  .bookmark-colors {
    @apply text-text-light dark:text-text-dark hover:text-amethyst-smoke-900 dark:hover:text-amethyst-smoke-600 hover:bg-amethyst-smoke-400 dark:hover:bg-amethyst-smoke-600/20 hover:cursor-pointer duration-200
  }

  .searchModal-box-colors {
    @apply bg-amethyst-smoke-400 dark:bg-dark-amethyst-smoke-300
  }

  .searchResult-hover {
    @apply hover:cursor-pointer hover:bg-amethyst-smoke-400/50 dark:hover:bg-dark-amethyst-smoke-300/50 hover:text-indigo-600/75 dark:hover:text-indigo-400/75
  }

  .searchResult-hovered {
    @apply bg-amethyst-smoke-400/50 dark:bg-dark-amethyst-smoke-300/50 text-indigo-600/75 dark:text-indigo-400/75
  }

  .link {
    @apply hover:brightness-150
  }

  .rose-link {
    @apply text-rose-700 dark:text-rose-400
  }

  .indigo-link {
    @apply text-indigo-700 dark:text-indigo-400 hover:text-indigo-500 dark:hover:text-indigo-300
  }

  .gray-link {
    @apply text-gray-700 dark:text-gray-400
  }

  .blue-link {
    @apply text-blue-700 dark:text-blue-400 hover:brightness-110
  }

  .hover-blue-link {
    @apply hover:text-blue-700 dark:hover:text-blue-400
  }

  .hover-rose-link {
    @apply hover:text-rose-700 dark:hover:text-rose-400
  }

  .hover-indigo-link {
    @apply hover:text-indigo-700 dark:hover:text-indigo-400
  }

  .blue-link-b {
    @apply text-blue-700 dark:text-blue-400 border-b border-transparent dark:hover:border-blue-400 hover:border-blue-700
  }

  .bottom-border {
    @apply border-b border-amethyst-smoke-950/40 dark:border-amethyst-smoke-200/40
  }

  .navLink-colors {
    @apply border-dark-amethyst-smoke-50/10 dark:border-amethyst-smoke-50/10 group-hover:border-pink-600/50 group-hover:bg-pink-400/10
  }

  .small-navLink-colors {
    @apply hover:bg-indigo-600/10 dark:hover:bg-indigo-400/10 border-transparent dark:hover:border-indigo-400 hover:border-indigo-600
  }

  .magazine-border-colors {
    @apply border-dark-amethyst-smoke-50/10 dark:border-amethyst-smoke-50/10
  }

  #userContent a {
    @apply w-fit text-blue-700 dark:text-blue-400 border-b border-transparent dark:hover:border-blue-400 hover:border-blue-700
  }

  .recentTab {
    @apply px-3.5 py-1 rounded-md border border-dark-amethyst-smoke-50/10 dark:border-amethyst-smoke-50/10 hover:cursor-pointer hover:bg-amethyst-smoke-700/20 duration-200
  }

  .active-tab {
    @apply border border-blue-700/50 dark:border-blue-300/50 text-blue-700 dark:text-blue-300 bg-amethyst-smoke-200 dark:bg-dark-amethyst-smoke-300
  }

  .layout-icon {
    @apply p-1 box-content hover:cursor-pointer hover:bg-dark-amethyst-smoke-200/30 dark:hover:bg-amethyst-smoke-300/30
  }

  .active-layout-icon {
    @apply stroke-blue-700
  }

  .letter-filter-hover {
    @apply hover:text-blue-700
  }

  .active-letter-filter {
    @apply rounded-sm bg-blue-700 pointer-events-none
  }

  .target {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
  }

  .targetBar {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
  }

  .linkTarget {
    opacity: 0;
    visibility: hidden;
    transition: animate-opacity 0.3s;
  }

  .wrapper:hover .target {
    opacity: 1;
    visibility: visible;
  }

  .wrapper:hover .targetBar {
    opacity: 1;
    visibility: visible;
    animation: fillBar 0.3s ease;
  }

  .wrapperLink:hover .linkTarget {
    opacity: 1;
    visibility: visible;
    animation: opacity 0.3s ease;
  }

  .header-box {
    @apply rounded-md flex flex-row items-center justify-between px-2 py-1 hover:brightness-110 duration-200
  }

  .small-header-box {
    @apply rounded-md flex flex-row items-center justify-between px-1.5 py-1 hover:brightness-110 duration-200
  }

  .loader {
    display: inline-flex;
    gap: 5px;
    animation: l3-0 1s infinite;
    transform-origin: 50% calc(100% + 2.5px);
  }

  .loader:before,
  .loader:after {
    content: "";
    width: 1rem;
    aspect-ratio: 1;
    box-shadow: 0 0 0 3px inset rgba(143, 11, 232, 0.833);
  }

  .loader:after {
    transform-origin: -2.5px calc(100% + 2.5px);
    animation: l3-1 1s infinite;
  }

  @keyframes l3-1 {

    50%,
    100% {
      transform: rotate(180deg)
    }
  }

  @keyframes l3-0 {

    0%,
    50% {
      transform: rotate(0deg)
    }

    100% {
      transform: rotate(90deg)
    }
  }
}